<!DOCTYPE html>
<html lang="fr"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ammortissement d'immobilisation</title>
    <link rel="icon" th:href="@{/img/icon.png}">
    <link rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/vue.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>

</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
    </nav>
</header>

<hr>
<ul class="nav justify-content-center" id="crud_title">
    <li class="nav-item">
        <a class="nav-link h4" href="#">Immobilisation</a>
    </li>
</ul>
<hr>
<div id="app">
    <div class="container">
        <div class="row">
            <transition
                    enter-active-class="animated fadeInLeft"
                    leave-active-class="animated fadeOutRight">
                <div class="notification is-success text-center px-5 top-middle" v-if="successMSG" @click="successMSG = false">{{successMSG}}</div>
            </transition>
            <div class="col-md-12">
                <table class="table my-3" id="menu_header">
                    <tr>
                        <td>
                            <button class="btn btn-default btn-block" @click="addModal= true">Créer</button>
                        </td>
                        <td>
                            <input placeholder="Rechercher..." type="search" class="form-control" v-model="search.keyword" name="search">
                        </td>
                        <td>
                            <input type="date" class="form-control" v-model="search.startDate">
                        </td>
                        <td>
                            <input type="date" class="form-control" v-model="search.endDate">
                        </td>
                        <td>
                            <button class="btn btn-success fa fa-search" @click="searchProduct"></button>
                        </td>
                    </tr>
                </table>
                <table class="table is-bordered is-hoverable">
                    <thead id="table_head" class="text-white" >

                    <th class="text-white">ID</th>
                    <th class="text-white">Nom</th>
                    <th class="text-white">Date d'acsuisition</th>
                    <th class="text-white">Cout d'aquisition</th>
                    <th class="text-white">Date de mise en service</th>
                    <th class="text-white">Amortissement</th>
                    <th class="text-white">Durée</th>
                    <th colspan="2" class="text-center text-white">Opération</th>
                    </thead>
                    <tbody class="table-light">
                    <tr v-for="produit in produits" class="table-default">
                        <td>{{produit.id}}</td>
                        <td>{{produit.name}}</td>
                        <td>{{produit.purchaseDate}}</td>
                        <td>{{produit.purchasePrice}}Ar</td>
                        <td>{{produit.commissioningDate}}</td>
                        <td v-if="produit.deprecationType === 'linear'">Linéaire</td>
                        <td v-else>Degréssif</td>
                        <td>{{produit.usage}} ans</td>
                        <td><button class="btn btn-info fa fa-reorder" @click="editModal = true; selectProduct(produit)"></button></td>
                        <td><button class="btn btn-danger fa fa-trash" @click="deleteModal = true; selectProduct(produit)"></button></td>
                    </tr>
                    <tr v-if="emptyResult">
                        <td colspan="10" rowspan="4" class="text-center h1">Aucun actif immobilisé trouvé</td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>
        <pagination
                :current_page="currentPage"
                :row_count_page="rowCountPage"
                @page-update="pageUpdate"
                :total_users="totalProduits"
                :page_range="pageRange"
        >
        </pagination>
    </div>

    <!--ajout produit-->
    <modal v-if="addModal" @close="clearAll()">

        <h3 slot="head" >Ajouter un actif immobilisé</h3>
        <div slot="body" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Article</label>
                            <input type="text" class="form-control" v-model="newProduct.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Prix d'acquisition</label>
                            <input type="number" class="form-control" v-model="newProduct.purchasePrice">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Date d'achat</label>
                            <input type="date" class="form-control" v-model="newProduct.purchaseDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Date de mise en service</label>
                            <input type="date" class="form-control" v-model="newProduct.commissioningDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Type d'ammortissement</label>
                            <select class="form-control" v-model="newProduct.deprecationType">
                                <option value="linear">Linéaire</option>
                                <option value="degressive">Degréssif</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Durée d'utilisation(en année)</label>
                            <input type="number" class="form-control" v-model="newProduct.usage">
                        </div>
                    </div>
                </div>
                <div slot="foot">
                    <button class="btn btn-success" @click="addProduct">Ajouter</button>
                </div>
            </div>
        </div>
    </modal>



    <!--Table d'ammortissement-->

    <modal v-if="editModal" @close="clearAll()">
        <h3 slot="head" >{{chooseProduct.name}}</h3>
        <div slot="body" class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2">Année</th>
                            <th v-if="chooseProduct.deprecationType === 'linear'" scope="col" colspan="2">
                                Ammortissement linéaire
                            </th>
                            <th v-else scope="col" colspan="2">
                                Ammortissement degréssif
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">Montant de l'amortissement</th>
                            <th scope="col">Valeur nette comptable au 31/12</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="deprecation in deprecations">
                            <td>{{deprecation.year}}</td>
                            <td>{{deprecation.deprecationValue}}</td>
                            <td>{{deprecation.netBookValue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div slot="foot" class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button class="btn btn-success fa fa-download" @click="updateProduct"></button>
                </div>
            </div>
        </div>
    </modal>


    <!--effacer-->
    <modal v-if="deleteModal" @close="clearAll()">
        <h3 slot="head">Effacer</h3>
        <div slot="body" class="text-center">Voulez-vous effacer cet actif?</div>
        <div slot="foot">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-danger" @click="deleteModal = false; deleteProduct()" >Effacer</button>
                </div>
                <div class="col-md-6">
                    <button class="btn" @click="deleteModal = false">Annuler</button>
                </div>
            </div>
        </div>
    </modal>

</div>

</body>

<script th:src="@{/js/pagination.js}"></script>
<script th:src="@{/js/app.js}"></script>

</html>